
  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-md-12">
        <div class="well login-box">
          <form >
            <legend>Registrar-se</legend>
            <div class="form-group">
              <label for="nome-registrado">Nome</label>
              <input ng-model="userNew.nome" id="nome-registrado" placeholder="Seu Nome" type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label for="email-registrado">E-mail</label>
              <input ng-model="userNew.email" id="email-registrado" placeholder="Seu Email" type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label for="senha-registrada">Senha</label>
              <input ng-model="userNew.senha" id="senha-registrada" value='' placeholder="Sua Senha" type="password" class="form-control" />
            </div>
            <div class="form-group">
              <label for="ConfirmaSenha-registrada">Confirme sua senha</label>
              <input ng-model="userNew.resenha" id="ConfirmaSenha-registrada" value='' placeholder="Sua Senha" type="password" class="form-control" />
            </div>
            <div class="form-group text-center">
              <input ng-click="registrar(userNew)" type="submit" class="btn btn-success btn-login-submit" value="Cadastrar" />
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>