<div class="profile">
    <h1>João Almeida</h1>
    <p>Arquiteto de Software</p>
    <button id="edit">Editar</button>

    <ul>
        <li class="options"><i class="far fa-question-circle"></i>Veja as ultimas perguntas de "fulano"</li>
        <li class="options"><i class="far fa-comment-dots"></i>Veja as ultimas respostas de "fulano"</li>
        <li class="options"><i class="far fa-envelope"></i>Entre em contato com "fulano"</li>
    </ul>
</div>

<div class="description">
    <img src="https://image.freepik.com/vetores-gratis/perfil-de-avatar-de-homem-no-icone-redondo_24640-14044.jpg"
        alt="user image" id="userimage">
    <label>Sobre "fulano"..</label>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, optio libero, enim sed tempora nulla odio
        similique facilis, maiores nisi accusantium ratione. Cupiditate beatae a dolor cum totam ex quos! </p>
        <ul class="social-media">
            <li><i class="fab fa-github"></i></li>
            <li><i class="fab fa-behance-square"></i></li>
            <li><i class="fab fa-facebook"></i></li>
        </ul>
</div>

<div class="skills">
    <h2>Competências</h2>

    <ul>
        <li>Skill</li>
    </ul>
</div>