<div class="profile">
    <h1>João Almeida</h1>
    <p>Arquiteto de Software</p>
    <!-- <button id="edit">Editar</button> -->

    <ul>
        <li class="options"><i class="far fa-question-circle"></i>Veja as ultimas perguntas de "fulano"</li>
        <li class="options"><i class="far fa-comment-dots"></i>Veja as ultimas respostas de "fulano"</li>
        <li class="options"><i class="far fa-envelope"></i>Entre em contato com "fulano"</li>
    </ul>

    <div class="skills">
        <h1>Competências</h1>
    
        <ul class="skill-list">
            <li class="skill">Skill</li>
            <li class="skill">Skill</li>
            <li class="skill">Skill</li>
            <li class="skill">Skill</li>
        </ul>
    </div>

</div>

<div class="description">
    <img src="https://image.freepik.com/fotos-gratis/retrato-de-homem-branco-isolado_53876-40306.jpg"
        alt="user image" id="userimage">
    <label>Sobre "fulano"..</label>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, optio libero, enim sed tempora nulla odio
        similique facilis, maiores nisi accusantium ratione. Cupiditate beatae a dolor cum totam ex quos! </p>
        <ul class="social-media">
            <li><i class="fab fa-github"></i> <a href="https://github.com/"></a></li>
            <li><i class="fab fa-behance-square"><a href="https://www.behance.net/"></a></i></li>
            <li><i class="fab fa-facebook"><a href="https://www.facebook.com/"></a></i></li>
        </ul>
</div>




