<div id="content">
    <div class="profile">
        <h1>{{usuario.nome}}</h1>
        <p>{{usuario.profissao}}</p>
        <!-- <button id="edit">Editar</button> -->

        <ul>
            <li class="options">
                <i class="far fa-question-circle"></i>Veja as ultimas perguntas de
                {{usuario.nome}}
            </li>
            <li class="options">
                <i class="far fa-comment-dots"></i>Veja as ultimas respostas de
                {{usuario.nome}}
            </li>
            <li class="options">
                <i class="far fa-envelope"></i>Entre em contato com {{usuario.nome}}
            </li>
        </ul>

        <div class="skills">
            <h1>Competências</h1>

            <ul class="skill-list">
                <li class="skill" ng-repeat="tecnologia in usuario.tecnologias">{{tecnologia}}</li>
            </ul>
        </div>
    </div>

    <div class="description">
        <img src="{{usuario.foto}}" alt="user image" id="userimage" />
        <label>Sobre {{usuario.nome}}..</label>
        <p>{{usuario.descricao}}</p>
    </div>
</div>