nav{
  grid-area: inputs;
  display: none;
  /* left: 100px; */
}
.nav{
  grid-template-areas: "logo inputs btnEntrar btnRegistrar";
  width: 100%;
  height: 73px;
  background: #FFF;
  display: grid;
  padding: 5px;
  margin-left: 10px;
  grid-template-columns: 1fr 1fr 180px 180px;
}


body{
  margin: 0;
}

#footer-menu {
  list-style: none;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  border-top: solid 1px;
  padding: 15px;
  font-size: 0.8rem;
  margin-top: 100px;

}

.menu {
  padding: 10px;
}

.rede-social {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: 0;
}

.social {
  margin: 10px;
  font-size: 1.5rem;
}