<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/view/images/1.png"
                class="d-block w-100 " style="height: 450px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/view/images/2.png"
                class="d-block w-100" alt="..." style="height: 450px">
        </div>
        <div class="carousel-item">
            <img src="/view/images/3.png"
                class="d-block w-100" alt="..." style="height: 450px">
        </div>
    </div>
</div>
<div class="container row ">
    
    <div class="form-group col-6 offset-md-4 row" style="margin-top:30px" ng-if="logado">
        <label for="exampleFormControlTextarea1"><h4>Qual a sua dúvida?</h4></label>
        <textarea class="form-control" ng-model="pergunta" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button ng-click="savePergunta(pergunta)"  class="btn btn-success col-3 offset-md-9" style="margin-top:10px;">Salvar</button>
      </div>

      <ul class="list-unstyled col-10 offset-md-2" style="margin-top: 30px;">
        <h3 style="margin-bottom: 30px;">Perguntas:</h3>
        
        <li ng-repeat="post in posts | orderBy:id:true" class="media" style="margin-top: 20px;border-bottom: 1px gray solid;padding-bottom: 15px;">
          <div class="media-body">
            <a ng-href="/#!/feed?id={{post.id}}"><h5 class="mt-0 mb-1">{{post.duvida}} - <small>{{post.nome}}</small></h5></a><small>{{post.data}}</small>
          </div>
        </li>
        
      </ul>
    
</div>
<script>
    $('.carousel').carousel()
</script>