

<div id="box" style="padding-top: 15px;"> 

    <div class="post" >
        <div class="media" >
                <img src="..." class="mr-3" alt="...">
                <div class="media-body">
                  <h5 class="mt-0">O que é uma div?</h5>
                  Bom dia, não consigo entender qual a utilidade dessa tag
                </div>
        </div>
            <button type="button" class="btn btn-primary" style="margin-left: 560px; margin-top: 20px">Responder</button>
    </div>

    <div id="areaResposta">
        <h5>Sua Resposta</h5>
            <textarea name="" id="" cols="80" rows="6" style="margin-left: 15%;"></textarea><br>
            <button type="button" class="btn btn-primary" style="margin-left: 71%; margin-top: 10px;  margin-bottom: 10px">Responder</button>
    </div>
    <button type="button" class="btn btn-outline-primary" style="margin-left: 85%; margin-top: 10px; margin-bottom: 10px">Veja mais perguntas</button>
 </div>


 <script>
 
 
 
 </script>
