<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item is-tab is-active" href="#!/feed"><i class="fa fa-home"></i> &nbsp; Feed</a>
            <a class="nav-item is-tab" ng-click="logout()"><i class="fa fa-hand-peace-o"></i> &nbsp; Logout</a>
        </div>

        <div class="nav-right nav-menu">
            <span class="nav-item">
                <a class="button" href="#!/novaPostagem" >
                    <span class="icon">
                        <i class="fa fa-commenting"></i>
                    </span>
                    <span>Criar nova postagem</span>
                </a>
            </span>
        </div>
    </div>
</nav>
